body {
    font-family: 'Source Code Pro', monospace;
}

/* =================
Typography
================= */

.hi {
    color: #CC6633;
    padding: 0  0 .5em 0;
    
}

.I-am {
    font-size: .65rem;
    
    
}

/* =================
Layout
================= */

header { 
    margin-right: 0;
}


.container-left {
    width: 100%;
    max-width: 950px;
    display: flex;
   
    margin: 2em auto 0 auto;
}

.container-right {
    width: 100%;
    max-width: 950px;
    
    margin: auto;
    display: flex;
    justify-content: flex-end;
  

}

.container-angela {
    
   
}


.angela-block {
    display: flex;
    justify-content: space-around;
    background-color: #e69900; 
    width: 10em;
    text-align: center;
    font-size: 1.2rem;
    padding: .3rem;
    color: black;
    text-decoration: none;
    margin: 0 0 0 1.1em; 
    float: left;  
}

.midnight-line {
    height: .5em; 
    width: 100%; 
    background-color: #193155;
    margin: 0;
    padding: 0 auto 0 auto;
    border: 0;
}

nav ul {
    list-style: none;
    background-color: #CC6633; 
    font-size: 1em;
    display: flex;
    justify-content: center;
    padding: .2em;
    color: black;
    
}

nav li {
    margin: 0 1em;
}

.container-bio {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 2em auto;
    padding: 2em 0;
    
    max-width: 950px;
    
}
.container-hi {
    width: 10em;
    height: 10em;
    margin: 0;
    padding: .5em 1.5em;
    border-color: rgb(27, 112, 87);
    border-width: .5em .5em .5em 0;
    border-style: solid;
}

.bio-tab {
    margin: auto 0;
    padding: 0 2em;
    height: 10em;
    border-color: rgb(27, 112, 87);
    border-width: .5em 0 .5em .5em;
    border-style: solid;
}

.introduce-me-img {
    width: 13em;
    border: .5em solid #193155;
    padding: 0 0;
    background-color: #193155;
    margin: auto 0;
}

.social-block {
    background-color: #CC6633; 
    width: 8em;
    height: 1.8rem;
    margin-left: 0;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content:  space-around;
}

.social-block img {
	width:   1.1rem;
	height:  1.1rem;
    margin-top: .5rem;
}

a:link {
    text-decoration: none;
    color: black;
}

article {
    display: flex;
    flex-direction: column;
    height: 100%; /*temp fix */
}



